<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="side" [opened]="showBtn()">
    <mat-toolbar color="primary">
      MENÚ
    </mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item [routerLink]="['/']"> Inicio </a>
      <a mat-list-item [routerLink]="['/about']"> Nosotros </a>
      <a mat-list-item [routerLink]="['/contact']"> Contact </a>
      <a mat-list-item [routerLink]="['/intranet']"> Intranet </a> -->
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Titulo de la app..</span>
    </mat-toolbar>
  </div>
  <ng-content></ng-content>
</mat-sidenav-container>
