<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="showBtn()">
    <mat-toolbar color="primary">
      MENÚ
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"> Link1 </a>
      <a mat-list-item href="#"> Link2 </a>
      <a mat-list-item href="#"> Link3 </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <mat-toolbar color="primary">
      <button *ngIf="showBtn()" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Titulo de la app..</span>
    </mat-toolbar>
  </div>
</mat-sidenav-container>
